@charset "UTF-8";

* { box-sizing : border-box; }

html, body,
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, blockquote, th, td,
img, img a,
div {
	margin : 0;
	padding : 0;
	}

html, body,
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
img, img a,
div {
	font : inherit;
	vertical-align : baseline;
	}

address, caption, cite, code, dfn, th, var {
	font-style : normal;
	font-weight : normal;
	}

html, body {
	width : 100%;
	height : 100%;
	}

input:focus,
textarea:focus,
select:focus,
button:focus,
div:focus,
a:focus { outline : none; }
caption, th { text-align : left; }
fieldset,
abbr, acronym,
img, img a { border : 0; }
but
q::before, q::after { content : ''; }
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display : block; }

h1, h2, h3, h4, h5, h6 {
	font-size : 100%;
	font-weight : normal;
	}

table {
	border-collapse : collapse;
	border-spacing : 0;
	}
